
<div class="mb-12">
<%= form_with model: Task, url: q_task_index_path, local: true do |f| %>

    <div class="myfield">
        <%= search_field :task, :q %>
        <%= f.submit t("search"), class: "max-w-xl" %>
    </div>

<% end %>

</div>
