
<div class="mr-auto ml-auto mb-12 max-w-4xl">
<%= form_with url: q_task_index_path, local: true do |f| %>

    <div class="flex max-w-4xl">
        <%= search_field_tag :q %>
        <%= f.submit t("search_task"), class: "flex-1 w-48" %>
    </div>

<% end %>

</div>
