<nav class="inline-flex flex-wrap relative justify-around mb-8 items-center align-bottom w-full text-gray-650">

  <div class="w-full bg-purpled-200 text-center text-gray-700"> &nbsp; </div>

  <div class="pt-6 px-6 tracking-widest align-top font-hairline overflow-hidden hover:text-gray-750"><a href="<%= root_path %>" class="s5 pt-4">j task</a></div>

  <div class="dr_links flex-grow pt-6 s2 align-middle tracking-wide hidden lg:inline-flex">
      <ul class="dr_menu pr-2">
        <button class="dr_btn font-hairline"><a href="<%= task_index_path %>"><i class="material-icons font-hairline align-text-top s4">note</i> 工作列表 </a> </button>
        <button class="dr_btn font-hairline"><a href="<%= new_task_path %>"><i class="material-icons font-hairline align-text-top s4">note</i> 新增工作 </a> </button>
      </ul>
  </div>

  <div class="s2 pt-6 flex-shrink flex align-middle pr-6 tracking-wide hidden lg:inline-flex">
        <span><a href="#" class="mx-2 my-4 py-2 hover:bg-blued-100 hover:text-gray-700"><i class="material-icons align-middle">forward</i> 註冊</a></span>
        <span><a href="/users/sign_in" class="mx-2 my-4 py-2 hover:bg-blued-100 hover:text-gray-700"><i class="material-icons align-middle">forward</i> 登入</a></span>
        <span class="mr-2"><a href="/users/sign_out" data-method="delete" class="mx-2 my-4 py-2 hover:bg-blued-100 hover:text-gray-700"><i class="material-icons align-middle">forward</i> 登出</a></span>

        <span class="rounded pt-1 mr-4 bg-blued-400 hidden lg:inline-block rounded pl-3 pr-3 pb-1 text-white hover:bg-gray-700"> 
          <i class="material-icons align-middle s6 lg:s4">face</i>
        </span>
  </div>

</nav>

</nav-menu>